html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

body {
    max-width: 1248px;
    margin: auto;
    line-height: 1.2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #14213d;
}

footer{
    margin-top: auto;
}

.content{
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    color: #fca311;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    color: #14213d;
    font-weight: 700;
    padding: 10px 0;
}

h3{
    padding: 10px 0;
    font-weight: 700;
}

.logo {
    font-size: 50px;
    text-decoration: none;
    color: #14213d;
    max-width: 50%;
}

.logo span {
    color: #fca311;
}


.navigation>li {
    margin: 0 1rem;
    overflow: hidden;
}

.hamburger-button {
    display: none;
    height: 100%;
    width: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none;
}

.menu,
.menu::before,
.menu::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    background-color: #14213d;
}

.menu::before {
    content: "";
    margin-top: -8px;
}

.menu::after {
    content: "";
    margin-top: 8px;
}

#hamburger:checked+.hamburger-button .menu {
    background-color: rgba(255, 255, 255, 0);
}

#hamburger:checked+.hamburger-button .menu::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#hamburger:checked+.hamburger-button .menu::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

.hamburger-button {
    display: flex;
}


.overlay {
    width: 100%;
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger~.overlay .navigation li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger:checked~.overlay .navigation li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger:checked~.overlay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.navigation>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fca311;
}

.navigation>li>a {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: #222;
    color: #fca311;
    padding: 1em 0;
    text-decoration: none;
}

.about-me {
    padding: 1em 0em;
    margin-top: 20px;
}

.about-me p {
    padding-top: 1em;
}

.skill {
    margin-top: 20px;
}
.tech-stack{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-stack img {
    margin-top: 10px;
    padding: 15px;
    height: auto;
    width: 100px;
}

.tech-stack > div{
    width: 33%;
}

.right {
    display: none;
}

.image {
    width: 100%;
    position: relative;
}

.image {
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.social img {
    width: 30px;
    height: 30px;
}

form{
    padding-bottom:20px;
}
.contact-info{
    display: flex;
    flex-direction: column;

}

.first-name{
    padding: 10px 0 10px 0;
}

.first-name label{
    margin-bottom: 5px;
}
.first-name input{
    padding: 10px;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color: #fca311;

}

.last-name{
    padding-bottom: 10px;
}

.last-name input{
    padding: 10px;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color: #fca311;
}

.email{
    padding-bottom: 10px;
}

.email input{
    padding: 10px;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color: #fca311;
}

.submit{
    background-color: #fca311; /* Green */
    border: none;
    border-radius: 5px;;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

@media(min-width: 900px) {
    
    .hamburger-button {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }

    .overlay{
        margin-top: 0;
        position: unset;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        padding: 0;
        position: unset;
        margin: 0;
        font-weight: 700;
        font-size: 20px; 
    }
    
    .navigation>li{
        overflow: unset;
    }

    .hamburger~.navigation li {
        height: 100%;
    }

    .navigation>li>a {
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        background-color: #fafafa;
        color: #14213d;
        padding: 1em 3em;
        text-decoration: none;
    }
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .right{
        display: flex;
        margin: auto;
        width: 70%;
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    .test-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        padding-right: 5px;
    }

    .test-right{
        width: 40%;
        padding-left: 5px;
    }

    .skill{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding-left: 20px;
    }

    .skill .tech-stack{
        display: flex;
        justify-content: space-between;
    }
    
    .experience{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .skill img{
        margin: 0;
        width: 60px;
    }
    h2{
        padding-bottom: 0.5em;
    }

    .skill h2 {
        text-align: center;
    }
    h3{
        padding-top: 30px;
        font-size: 18px;
        font-weight: 700;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
 
    }

    .first-name{
        padding: 10px 0 10px 0;
    }

    .first-name label{
        margin-bottom: 5px;
    }
    .first-name input{
        padding: 10px;
        border-style: solid;
        border-width:2px;
        border-radius: 5px;
        border-color: #fca311;
    
    }

    .last-name{
        padding-bottom: 10px;
    }

    .last-name input{
        padding: 10px;
        border-style: solid;
        border-width:2px;
        border-radius: 5px;
        border-color: #fca311;
    }

    .email{
        padding-bottom: 10px;
    }

    .email input{
        padding: 10px;
        border-style: solid;
        border-width:2px;
        border-radius: 5px;
        border-color: #fca311;
    }

    .submit{
        background-color: #fca311; /* Green */
        border: none;
        border-radius: 5px;;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}

